* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "aside main main"
        "footer footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 12px;
}

.header {
    grid-area: header;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container h3 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #363636;
}

.search-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

#search-input {
    width: 200px;
    padding: 10px;
    padding-right: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-wrapper .fa-magnifying-glass {
    position: absolute;
    right: 10px;
    color: #ccc;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    cursor: pointer;
}

h1:hover {
    color: #ff1919;
    transform: scale(1.05);
    transition: transform 0.3s ease; /* aquí también transition */
    cursor: pointer;
}

h1 {
    font-size: 27px;
    padding: 12px;
    margin-top: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
    color: #ff1919;
    transform: scale(1.1);
}

.sidebar {
    grid-area: aside;
    background-color: #ececec;
    padding: 20px;
    display: flex;
    flex-direction: column;
    animation: slideIn 0.5s ease-in-out; /* se enlaza el slideIn con el keyframes */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #999;
    cursor: pointer;
}

.sidebar ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ece1e1;
    padding-bottom: 10px;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

.sidebar h3 {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
    display: flex;
    justify-content: space-between;
}

.sidebar h2:hover {
    color: #ff1919;
    transform: scale(1.1);
    transition: transform 0.3s ease; /* Transition transform para el efecto de crecimiento del elemento */
}

.sidebar h3:hover {
    color: #ff1919;
    transform: scale(1.1);
    transition: transform 0.3s ease; /* aquí también */
}

.sidebar span {
    color: #161616;
    font-size: 12.5px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

.contacto {
    text-align: center;
}
.form {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form input, .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    width: 100%;
    height: auto;
    background-color: #0c0c0c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #da3838;
}

.card {
    border: 1px solid #ccc;
    flex: 1 1 calc(25% - 10px);
    text-align: center;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.card h3 {
    color: #333;
    margin: 10px 0;
}

.card p {
    color: #666;
    font-size: 0.9em;
    margin: 10px 0;
}

.card button {
    background-color: #0c0c0c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #da3838;
}

.footer {
    grid-area: footer;
    background-color: #1b1c1e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icon {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    color: #ff1919;
    transform: scale(1.2);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* responsividad para tamaño tablet */
@media (max-width: 900px) {
    .container {
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }

    .header {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .card {
        flex: 1 1 calc(33.33% - 10px);
    }
}

/* responsividad para teléfonos */
@media (max-width: 600px) {
    .card {
        flex: 1 1 calc(50% - 10px);
    }

    .navbar {
        padding: 0 10px;
    }

    .nav-links {
        gap: 5px;
    }

    .sidebar {
        padding: 10px;
    }
}
